.App {
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 50%;
  padding: 20px;
}

#left textarea {
  width: 500px;
  height: 300px;
}

#right {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
